{% extends "base.html" %}
 {% block content %}

 <div class="header-pad"></div>
 <!--/header-->
 <!-- main -->
 <div id="main" class="page-detail">
 <div class="page-cover" style="background-image: url('https://img.yescdn.ru/2017/11/06/cover/4734299b41ad9eba3709cd37874c885b-base.jpg')"></div>
 <div class="container">
     <div class="pad"></div>
     <div class="main-content main-detail ">
         <div class="md-top">
             <div id="bread">
                 <ol class="breadcrumb" itemtype="http://schema.org/BreadcrumbList" itemscope="">
                     <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement">
                         <a itemprop="item" title="Home" href="https://yesmovies.to/">
                             <span itemprop="name">Home</span>
                         </a>
                     </li>
                     <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement">
                                                     <a itemprop="item" title="Movies" href="https://yesmovies.to/movie/filter/movie.html">
                             <span itemprop="name">Movies</span>
                         </a>
                     </li>
                     <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"
                         class="active">
                         <span itemprop="name">Base</span>
                     </li>
                 </ol>
             </div>
             <div id="mv-info">
                 <div class="mvi-content">
                     <div class="btn-watch-area">
                         <div class="bwa-content">
                             <div class="loader"></div>
                             <a 
                             data-target="#pop-trailer" data-toggle="modal" class="bwac-btn"
                                title="Click to play trailer">
                                 <i class="fa fa-play"></i>
                             </a>
                         </div>
                     </div>
                     <div class="mvic-desc">
                         <div class="mvic-stats">
                             <div class="block-fav" id="btn-favorite">
                                 <a onclick="favorite(22595,'detail')" class="btn-favorite"
                                    href="javascript:void(0)" title="Add to favorite"><i
                                             class="icon-favorite"></i> Favorite</a>
                             </div>
                             <div class="block-view">
                                 <i class="icon-remove_red_eye"></i> 5,499 views
                             </div>
                             <div class="block-trailer">
                                 <a data-target="#pop-trailer" data-toggle="modal">
                                     <i class="icon-videocam"></i> Watch trailer
                                 </a>
                             </div>
                         </div>
                         <div class="detail-mod">
                             <div class="dm-thumb"><img src="https://img.yescdn.ru/2017/11/06/poster/0f752cee52d73f6916033a3e43bf7c8f-base.jpg"
                                                        title="Base" alt="Base">
                             </div>
                             <h3>Base</h3>
                             <div class="mv-rating" itemtype="http://data-vocabulary.org/Review-aggregate"
                                  itemscope=""></div>
                             <div class="mobile-btn">
                                 <a class="mod-btn" data-target="#pop-trailer" data-toggle="modal">Trailer</a>
                                 <a class="mod-btn mod-btn-watch"
                                    href="https://yesmovies.to/movie/base-22595/watching.html"
                                    title="Watch movie"><i class="fa fa-play mr5"></i> Watch movie</a>
                             </div>
                             <div class="mobile-view"><i
                                         class="icon-remove_red_eye"></i> 5,499 views
                             </div>
                         </div>
                         <div class="block-social">
                             <!-- Go to www.addthis.com/dashboard to customize your tools -->
                             <div class="addthis_inline_share_toolbox"></div>
                         </div>
                         <div class="desc">
                             The movie follows two daredevil best friends who do proximity flying all the time, refer to each other as ‘bro’, ‘found footage’ shot from a GoPro, showing pants-wettingly terrifying shots of jumps from high points.                            </div>
                         <div class="mvic-info">
                             <div class="mvici-left">
                                                                         <p><strong>Genres: </strong><a href="https://yesmovies.to/genre/action.html" title="Action">Action</a>, <a href="https://yesmovies.to/genre/drama.html" title="Drama">Drama</a>, <a href="https://yesmovies.to/genre/mystery.html" title="Mystery">Mystery</a></p>
                                                                                                             <p><strong>Actors: </strong><a href="https://yesmovies.to/actor/julie-dray.html" title="Julie Dray">Julie Dray</a>, <a href="https://yesmovies.to/actor/alexander-polli.html" title="Alexander Polli">Alexander Polli</a>, <a href="https://yesmovies.to/actor/carlos-pedro-briceno.html" title="Carlos Pedro Briceño">Carlos Pedro Briceño</a></p>
                                                                                                             <p><strong>Directors: </strong><a href="#" title="Richard Parry">Richard Parry</a></p>
                                                                                                             <p><strong>Country: </strong><a href="https://yesmovies.to/country/euro.html" title="Euro">Euro</a>, <a href="https://yesmovies.to/country/united-kingdom.html" title="United Kingdom">United Kingdom</a></p>
                                                                 </div>
                             <div class="mvici-right">
                                                                     <p><strong>Duration:</strong> 83 min</p>
                                 <p><strong>Quality:</strong> <span class="quality">HD</span></p>
                                 <p><strong>Release:</strong> 2017</p>
                                 <p><strong>IMDb:</strong> 7</p>
                             </div>
                             <div class="clearfix"></div>
                         </div>
                         <div class="clearfix"></div>
                         <!-- keywords -->
                                                         <div id="mv-keywords">
                                 <strong class="mr10">Keywords:</strong>
                                 <a target="_blank" href="https://yesmovies.to/tags/base.html" title="Base"><h5>Base</h5></a><a target="_blank" href="https://yesmovies.to/tags/julie-dray.html" title="Julie Dray"><h5>Julie Dray</h5></a><a target="_blank" href="https://yesmovies.to/tags/alexander-polli.html" title="Alexander Polli"><h5>Alexander Polli</h5></a><a target="_blank" href="https://yesmovies.to/tags/carlos-pedro-briceno.html" title="Carlos Pedro Briceño"><h5>Carlos Pedro Briceño</h5></a><a target="_blank" href="https://yesmovies.to/tags/richard-parry.html" title="Richard Parry"><h5>Richard Parry</h5></a>                                </div>
                                                 </div>
                     <div class="clearfix"></div>
                 </div>
             </div>
         </div>
<!--            <div class="content-kusss" style="text-align: center; margin: 20px 0; padding: 15px;">-->
<!--                <iframe src="https://creative.wwwpromoter.com/37163?d=728x90" width="728" height="90"-->
<!--                        style="border: none;" frameborder="0" scrolling="no"></iframe>-->
<!--            </div>-->
         <!--related-->
         <div class="movies-list-wrap mlw-related">
             <div class="ml-title ml-title-page">
                 <span>You May Also Like</span>
             </div>
             <div id="movies-related" class="movies-list movies-list-full">
                         <div class="ml-item">
         <a href="https://yesmovies.to/movie/amapola-16145.html" class="ml-mask" title="Amapola"
            data-url="movie_info/16145.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="Amapola" alt="Amapola"
                  data-original="https://img.yescdn.ru/2016/09/09/poster/730c1901b2aa8977446d3daab7844dcd-amapola-1473411351.jpeg">
             <span class="mli-info">
         <h2>Amapola</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/2-nights-till-morning-15931.html" class="ml-mask" title="2 Nights Till Morning"
            data-url="ajax/movie_info/15931.html">
                                 <span class="mli-quality">SD</span>
                             <img class="thumb mli-thumb lazy" title="2 Nights Till Morning" alt="2 Nights Till Morning"
                  data-original="https://img.yescdn.ru/2016/09/02/poster/1f1f71d43611585d665f3dd80c4b537c-2-nights-till-morning-1472815547.jpg">
             <span class="mli-info">
         <h2>2 Nights Till Morning</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/tropic-thunder-7274.html" class="ml-mask" title="Tropic Thunder"
            data-url="ajax/movie_info/7274.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="Tropic Thunder" alt="Tropic Thunder"
                  data-original="https://img.yescdn.ru/2015/12/18/poster/MV5BNDE5NjQzMDkzOF5BMl5BanBnXkFtZTcwODI3ODI3MQ@@._V1_SY317_CR6,0,214,317_AL_.jpg">
             <span class="mli-info">
         <h2>Tropic Thunder</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/charlie-chaplin-modern-times-6977.html" class="ml-mask" title="Charlie Chaplin Modern Times"
            data-url="ajax/movie_info/6977.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="Charlie Chaplin Modern Times" alt="Charlie Chaplin Modern Times"
                  data-original="https://img.yescdn.ru/2015/12/07/poster/CharlieChaplinModernTimes1.jpg">
             <span class="mli-info">
         <h2>Charlie Chaplin Modern Times</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/the-battle-of-neretva-11023.html" class="ml-mask" title="The Battle of Neretva"
            data-url="ajax/movie_info/11023.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="The Battle of Neretva" alt="The Battle of Neretva"
                  data-original="https://img.yescdn.ru/2016/03/26/poster/c3304603919bbca40db70d80f74bd9fa-the-battle-of-neretva.jpg">
             <span class="mli-info">
         <h2>The Battle of Neretva</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/ghost-in-the-shell-20118.html" class="ml-mask" title="Ghost in the Shell"
            data-url="ajax/movie_info/20118.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="Ghost in the Shell" alt="Ghost in the Shell"
                  data-original="https://img.yescdn.ru/2017/04/02/poster/10cc672f9a0e3c0bdb2f17ef00c8fd40-ghost-in-the-shell.jpg">
             <span class="mli-info">
         <h2>Ghost in the Shell</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/sideways-11051.html" class="ml-mask" title="Sideways"
            data-url="ajax/movie_info/11051.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="Sideways" alt="Sideways"
                  data-original="https://img.yescdn.ru/2016/03/27/poster/8ca5fa70577b439e2da5546c87a35d45-sideways.jpg">
             <span class="mli-info">
         <h2>Sideways</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/hellboy-the-golden-army-7059.html" class="ml-mask" title="Hellboy The Golden Army"
            data-url="ajax/movie_info/7059.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="Hellboy The Golden Army" alt="Hellboy The Golden Army"
                  data-original="https://img.yescdn.ru/2015/12/11/poster/MV5BMjA5NzgyMjc2Nl5BMl5BanBnXkFtZTcwOTU3MDI3MQ@@._V1_SY317_CR0,0,214,317_AL_.jpg">
             <span class="mli-info">
         <h2>Hellboy The Golden Army</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/nina-11666.html" class="ml-mask" title="Nina"
            data-url="ajax/movie_info/11666.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="Nina" alt="Nina"
                  data-original="https://img.yescdn.ru/2016/04/22/poster/5394c7be2a17dd62498f45492fb44a26-nina.jpg">
             <span class="mli-info">
         <h2>Nina</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/garage-sale-mystery-the-novel-murders-15004.html" class="ml-mask" title="Garage Sale Mystery: The Novel Murders"
            data-url="ajax/movie_info/15004.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="Garage Sale Mystery: The Novel Murders" alt="Garage Sale Mystery: The Novel Murders"
                  data-original="https://img.yescdn.ru/2016/08/02/poster/26de101e7c2b21331f354c02b1a52f0a-garage-sale-mystery-the-novel-murders-1470165106.jpg">
             <span class="mli-info">
         <h2>Garage Sale Mystery: The Novel Murders</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/a-fighting-man-11735.html" class="ml-mask" title="A Fighting Man"
            data-url="ajax/movie_info/11735.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="A Fighting Man" alt="A Fighting Man"
                  data-original="https://img.yescdn.ru/2016/04/25/poster/6ed64c6a5ddc2a7ec37c050df7c43c3d-a-fighting-man.jpg">
             <span class="mli-info">
         <h2>A Fighting Man</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/michael-collins-9119.html" class="ml-mask" title="Michael Collins"
            data-url="ajax/movie_info/9119.html">
                                 <span class="mli-quality">SD</span>
                             <img class="thumb mli-thumb lazy" title="Michael Collins" alt="Michael Collins"
                  data-original="https://img.yescdn.ru/2016/02/01/poster/f35b8ab696311af1252088442faf64f9-michael-collins.jpg">
             <span class="mli-info">
         <h2>Michael Collins</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/pride-13918.html" class="ml-mask" title="Pride"
            data-url="ajax/movie_info/13918.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="Pride" alt="Pride"
                  data-original="https://img.yescdn.ru/2016/06/29/poster/fc6b6337b306c76520e62f1cfa1dae60-pride-1467211827.jpg">
             <span class="mli-info">
         <h2>Pride</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/american-dreams-in-china-3176.html" class="ml-mask" title="American Dreams In China"
            data-url="ajax/movie_info/3176.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="American Dreams In China" alt="American Dreams In China"
                  data-original="https://img.yescdn.ru/2016/03/13/poster/f0969601eeb560ef73c4879e5b3c7e59-american-dreams-in-china.jpg">
             <span class="mli-info">
         <h2>American Dreams In China</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/angus-8881.html" class="ml-mask" title="Angus"
            data-url="ajax/movie_info/8881.html">
                                 <span class="mli-quality">SD</span>
                             <img class="thumb mli-thumb lazy" title="Angus" alt="Angus"
                  data-original="https://img.yescdn.ru/2016/01/27/poster/9153efd49ac30983931f744bf00561fc-angus.jpg">
             <span class="mli-info">
         <h2>Angus</h2>
     </span>
         </a>
     </div>
         <div class="ml-item">
         <a href="https://yesmovies.to/movie/deep-impact-12970.html" class="ml-mask" title="Deep Impact"
            data-url="ajax/movie_info/12970.html">
                                 <span class="mli-quality">HD</span>
                             <img class="thumb mli-thumb lazy" title="Deep Impact" alt="Deep Impact"
                  data-original="https://img.yescdn.ru/2016/06/09/poster/aa897534602b22da4ec328fabec8507c-deep-impact-1465460968.jpg">
             <span class="mli-info">
         <h2>Deep Impact</h2>
     </span>
         </a>
     </div>
 <script type="text/javascript">
 $(document).ready(function () {
     if (!jQuery.browser.mobile) {
         initQtip();
     }
     $("img.lazy").lazyload({
         effect: "fadeIn"
     });
 });
</script>
             </div>
         </div>
         <!--/related-->
     </div>
 </div>
</div>
<div class="modal fade modal-cuz modal-trailer" id="pop-trailer" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i>
             </button>
             <h4 class="modal-title" id="myModalLabel">Trailer: Base</h4>
         </div>
         <div class="modal-body">
             <div class="modal-body-trailer">
                 <iframe id="iframe-trailer" width="100%" height="315" src=""
                         frameborder="0"
                         allowfullscreen></iframe>
             </div>
         </div>
     </div>
 </div>
</div>
<script type="text/javascript">
 var movie = {
     id: "22595",
     name: "Base",
     slug: "base",
     type: "movie",
     trailer: "https://www.youtube.com/embed/4YsoztbLj0Y"
 };
 $(document).ready(function () {
     //movie_quick_play();
     movie_rate_info();
     setTimeout(function () {
         movie_update_view();
     }, 2000);
     setTimeout(function () {
         if (is_login) {
             movie_check_favorite('detail');
         }
     }, 1000);
 });
</script>
 <!--/main -->
 <!--footer-->
 <footer>
 <div id="footer">
     <div class="container">
         <div class="row">
             <div class="col-sm-1 footer-block1"></div>
             <div class="col-sm-2 footer-block footer-block2">
                 <p><a title="Action" href="https://yesmovies.to/genre/action.html">Action</a></p>
                 <p><a title="Adventure" href="https://yesmovies.to/genre/adventure.html">Adventure</a></p>
                 <p><a title="Animation" href="https://yesmovies.to/genre/animation.html">Animation</a></p>
                 <p><a title="Biography" href="https://yesmovies.to/genre/biography.html">Biography</a></p>
                 <p><a title="Comedy" href="https://yesmovies.to/genre/comedy.html">Comedy</a></p>
                 <p><a title="Costume" href="https://yesmovies.to/genre/costume.html">Costume</a></p>
                 <p><a title="Crime" href="https://yesmovies.to/genre/crime.html">Crime</a></p>
             </div>
             <div class="col-sm-2 footer-block footer-block3">
                 <p><a title="Documentary" href="https://yesmovies.to/genre/documentary.html">Documentary</a></p>
                 <p><a title="Drama" href="https://yesmovies.to/genre/drama.html">Drama</a></p>
                 <p><a title="Family" href="https://yesmovies.to/genre/family.html">Family</a></p>
                 <p><a title="Fantasy" href="https://yesmovies.to/genre/fantasy.html">Fantasy</a></p>
                 <p><a title="History" href="https://yesmovies.to/genre/history.html">History</a></p>
                 <p><a title="Horror" href="https://yesmovies.to/genre/horror.html">Horror</a></p>
                 <p><a title="Kungfu" href="https://yesmovies.to/genre/kungfu.html">Kungfu</a></p>
             </div>
             <div class="col-sm-2 footer-block footer-block4">
                 <p><a title="Musical" href="https://yesmovies.to/genre/musical.html">Musical</a></p>
                 <p><a title="Mystery" href="https://yesmovies.to/genre/mystery.html">Mystery</a></p>
                 <p><a title="Mythological" href="https://yesmovies.to/genre/mythological.html">Mythological</a></p>
                 <p><a title="Psychological" href="https://yesmovies.to/genre/psychological.html">Psychological</a>
                 </p>
                 <p><a title="Romance" href="https://yesmovies.to/genre/romance.html">Romance</a></p>
                 <p><a title="Sci-Fi" href="https://yesmovies.to/genre/sci-fi.html">Sci-Fi</a></p>
                 <p><a title="Sitcom" href="https://yesmovies.to/genre/sitcom.html">Sitcom</a></p>
             </div>
             <div class="col-sm-2 footer-block footer-block5">
                 <p><a title="Sport" href="https://yesmovies.to/genre/sport.html">Sport</a></p>
                 <p><a title="Thriller" href="https://yesmovies.to/genre/thriller.html">Thriller</a></p>
                 <p><a title="TV-Show" href="https://yesmovies.to/genre/tv-show.html">TV-Show</a></p>
                 <p><a title="War" href="https://yesmovies.to/genre/war.html">War</a></p>
                 <p><a title="United States" href="https://yesmovies.to/country/united-states.html">United
                         States</a></p>
                 <p><a title="Korea" href="https://yesmovies.to/country/korea.html">Korea</a></p>
                 <p><a title="Japan" href="https://yesmovies.to/country/japan.html">Japan</a></p>
             </div>
             <div class="col-sm-2 footer-block footer-block6">
                 <p><a title="HongKong" href="https://yesmovies.to/country/hongkong.html">HongKong</a></p>
                 <p><a title="France" href="https://yesmovies.to/country/france.html">France</a></p>
                 <p><a title="Asia" href="https://yesmovies.to/country/asia.html">Asia</a></p>
                 <p><a title="Thailand" href="https://yesmovies.to/country/thailand.html">Thailand</a></p>
                 <p><a title="United Kingdom" href="https://yesmovies.to/country/united-kingdom.html">United
                         Kingdom</a></p>
                 <p><a title="India" href="https://yesmovies.to/country/india.html">India</a></p>
                 <p><a title="International"
                       href="https://yesmovies.to/country/international.html">International</a></p>
             </div>
             <div class="col-sm-1 footer-block7"></div>
             <div class="clearfix"></div>
         </div>
         <div id="copyright">
             <p><img alt="yesmovies.to" border="0" src="https://yesmovies.to/assets/images/logo-footer.png"
                     class="mv-ft-logo"></p>
             <p>Copyright &copy; <a href="https://yesmovies.to/" title="yesmovies.to">Yesmovies.to</a>. All Rights
                 Reserved</p>
             <p style="font-size: 11px; line-height: 14px;">Disclaimer: This site does not store any files on its
                 server. All contents are provided by non-affiliated third parties.</p>
         </div>
         <div id="footer-social">
             <a href="#" class="fs-icon fs-facebook"><i class="fa fa-facebook"></i></a>
             <a href="#" class="fs-icon fs-twitter"><i class="fa fa-twitter"></i></a>
             <a href="#" class="fs-icon fs-google"><i class="fa fa-google-plus"></i></a>
         </div>
         <div id="footer-menu">
             <a href="https://yesmovies.to/terms.html" title="Privacy Policy">Terms & Privacy Policy</a>
             <a href="https://yesmovies.to/dmca.html" title="DMCA">DMCA</a>
         </div>
     </div>
     <div class="footer-tl text-center mt5" style="font-size:8px; line-height: 1.1em;">
         <style>.footer-tl a {
                 color: #232122;
             }</style>
         <a href="https://gostream.is/" class="mr10" title="123movies">123movies</a>
     </div>
 </div>
</footer>
 <!--/footer-->
</div>
<div class="clearfix"></div>
<div id="auth-modal">
 <!-- Modal -->
 <div class="modal fade modal-cuz" id="pop-auth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-tabs">
             <ul id="md-list" class="nav nav-tabs" role="tablist">
                 <li class="active"><a id="tab-login" href="#modal-login" role="tab" data-toggle="tab"><i
                             class="icon-perm_identity mr5"></i><strong>Login</strong></a></li>
                 <li><a id="tab-register" href="#modal-register" role="tab" data-toggle="tab"><i
                             class="icon-add_circle_outline mr5"></i><strong>Register</strong></a></li>
                 <li class="pull-right"><a class="close" data-dismiss="modal" aria-label="Close"><i
                             class="icon-clear"></i></a></li>
             </ul>
         </div>
         <div class="modal-content tab-content">
             <div id="modal-login" class="tab-pane in fade active">
                 <div class="modal-body">
                     <!--                        <div class="cuz-login-social">-->
                     <!--                            <p class="desc text-center">Log in with your Facebook account.</p>-->
                     <!--                            <div class="cls-list mt10">-->
                     <!--                                <a href="-->
                     <? //= site_url('user/login_fb?return_url=' . current_url()) ?><!--"-->
                     <!--                                   class="btn btn-block btn-facebook"><i-->
                     <!--                                        class="fa fa-facebook-square mr10"></i>Facebook</a>-->
                     <!--                                <a href="-->
                     <? //= site_url('user/login_gg?return_url=' . current_url()) ?><!--"-->
                     <!--                                   class="btn btn-block btn-google"><i class="fa fa-google-plus-square mr10"></i>Google+</a>-->
                     <!--                                <div class="clearfix"></div>-->
                     <!--                            </div>-->
                     <!--                        </div>-->
                     <!--                        <p class="desc text-center mb10">- Or use your Yesmovies account.</p>-->
                     <form id="login-form" method="post">
                         <div class="block">
                             <input required type="text" class="form-control" name="username" id="username"
                                    placeholder="Username">
                         </div>
                         <div class="block mt10">
                             <input required type="password" class="form-control" name="password" id="password"
                                    placeholder="Password">
                         </div>
                         <div class="alert alert-danger error-message" id="error-message"></div>
                         <div class="block mt20 small">
                             <label><input type="checkbox" class="mr5"> Remember me</label>
                             <div class="pull-right">
                                 <a data-toggle="tab" id="open-forgot"
                                    href="#modal-forgot"
                                    title="Forgot password?">Forgot password?</a>
                             </div>
                         </div>
                         <button type="submit" id="login-submit" class="btn btn-block btn-success btn-approve mt10">
                             Login
                         </button>
                         <div style="display: none;" id="login-loading" class="cssload-center">
                             <div class="cssload"><span></span></div>
                         </div>
                     </form>
                 </div>
                 <div class="modal-footer text-center">
                     Not a member yet? <a id="toggle-register" title="Join now!"><strong>Join now!</strong></a>
                 </div>
             </div>
             <div id="modal-register" class="tab-pane in fade">
                 <div class="modal-body">
                     <p class="desc">When becoming members of the site, you could use the full range of functions and
                         enjoy the most exciting films.</p>
                     <form id="register-form" method="post">
                         <div class="block">
                             <input required type="text" class="form-control" name="full_name" id="full_name"
                                    placeholder="Full name">
                         </div>
                         <div id="error-full_name" class="alert alert-danger error-message"></div>
                         <div class="block">
                             <input required type="text" class="form-control" name="username" id="username"
                                    placeholder="Username">
                         </div>
                         <div id="error-username" class="alert alert-danger error-message"></div>
                         <div class="block">
                             <input required type="email" class="form-control" name="email" id="email"
                                    placeholder="Email">
                         </div>
                         <div id="error-email" class="alert alert-danger error-message"></div>
                         <div class="block">
                             <input required type="password" class="form-control" name="password" id="password"
                                    placeholder="Password">
                         </div>
                         <div id="error-password" class="alert alert-danger error-message"></div>
                         <div class="block">
                             <input required type="password" class="form-control" name="confirm_password"
                                    id="confirm_password"
                                    placeholder="Confirm Password">
                         </div>
                         <div id="error-confirm_password" class="alert alert-danger error-message"></div>
                         <button id="register-submit" type="submit"
                                 class="btn btn-block btn-success btn-approve mt20">Register
                         </button>
                         <div style="display: none;" id="register-loading" class="cssload-center">
                             <div class="cssload"><span></span></div>
                         </div>
                     </form>
                 </div>
                 <div class="modal-footer text-center">
                     <a href="javascript:void(0)" id="toggle-login" title="Back to login"><i
                             class="fa fa-chevron-left mr10"></i> Back to login</a>
                 </div>
             </div>
             <div id="modal-forgot" class="tab-pane in fade">
                 <div class="modal-body">
                     <p class="desc">We will send authorize code to your email. Please fill your email to form
                         below.</p>
                     <form id="forgot-form">
                         <div class="block mt10">
                             <input type="email" class="form-control" name="email" id="Email"
                                    placeholder="Your email">
                         </div>
                         <div style="display: none;" id="forgot-success-message" class="alert alert-success"></div>
                         <div style="display: none;" id="forgot-error-message" class="alert alert-danger"></div>
                         <button id="forgot-submit" type="submit" class="btn btn-block btn-success btn-approve mt20">
                             Submit
                         </button>
                     </form>
                 </div>
                 <div class="modal-footer text-center">
                     <a data-toggle="tab" href="#modal-login" title="Back to login">
                         <i class="fa fa-chevron-left mr10"></i> Back to login
                     </a>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!--/ modal -->
    {% endblock %}