{% extends "base.html" %}
{% block content %}






<div class="header-pad"></div>
<!--/header-->
<!-- main -->
<div id="main" class="page-news">
<div class="container">
    <div class="pad"></div>
    <div class="main-content">
        <h2 class="page-title">Movies News</h2>
        <div class="news-block">
            <div class="news-content news-content-full news-list">
<!--                    <div class="content-kusss" style="text-align: center; margin: 20px 0; padding: 15px;">-->
<!--                        <iframe src="https://creative.wwwpromoter.com/37163?d=728x90" width="728" height="90" style="border: none;" frameborder="0" scrolling="no"></iframe>-->
<!--                    </div>-->
                <div class="news-list-body">
                                                    <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/10-new-movie-trailers-released-last-week-you-should-check-670.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/11/thumbnail/cdd6f24c974f54ef4c70b8de0af0e2b4-10-new-movie-trailers-released-last-week-you-should-check.png" title="10 New Movie Trailers Released Last Week You Should Check!"
                                         alt="10 New Movie Trailers Released Last Week You Should Check!">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/10-new-movie-trailers-released-last-week-you-should-check-670.html"
                                           title="https://yesmovies.to/news/10-new-movie-trailers-released-last-week-you-should-check-670.html">10 New Movie Trailers Released Last Week You Should Check!</a>
                                    </h2>
                                    <p class="desc">Fifty Shades Freed, Coco, The Post and more...</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/11/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                        <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/the-30-best-horror-movies-ever-made-part-2-669.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/11/thumbnail/17cedddcb1e56bd24c8e5a03a87a64d4-the-30-best-horror-movies-ever-made-part-2.jpg" title="The 30 Best Horror Movies Ever Made (Part 2)"
                                         alt="The 30 Best Horror Movies Ever Made (Part 2)">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/the-30-best-horror-movies-ever-made-part-2-669.html"
                                           title="https://yesmovies.to/news/the-30-best-horror-movies-ever-made-part-2-669.html">The 30 Best Horror Movies Ever Made (Part 2)</a>
                                    </h2>
                                    <p class="desc">The list that follows is Cinema Blend’s definitive, once-and-for-all comment on the greatest horror ...</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/11/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                        <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/thanks-god-these-great-movies-dodged-a-huge-bullet-668.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/10/thumbnail/e62e5da872ca77aef3f66fb090f35e20-thanks-god-these-great-movies-dodged-a-huge-bullet.jpg" title="Thanks God, These Great Movies Dodged a Huge Bullet"
                                         alt="Thanks God, These Great Movies Dodged a Huge Bullet">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/thanks-god-these-great-movies-dodged-a-huge-bullet-668.html"
                                           title="https://yesmovies.to/news/thanks-god-these-great-movies-dodged-a-huge-bullet-668.html">Thanks God, These Great Movies Dodged a Huge Bullet</a>
                                    </h2>
                                    <p class="desc">They might have been ruined by these stupid mistakes.</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/10/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                        <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/the-30-best-horror-movies-ever-made-part-1-667.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/09/thumbnail/169e9099362262c77009dc78417c4f2e-the-30-best-horror-movies-ever-made-part-1.jpg" title="The 30 Best Horror Movies Ever Made (Part 1)"
                                         alt="The 30 Best Horror Movies Ever Made (Part 1)">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/the-30-best-horror-movies-ever-made-part-1-667.html"
                                           title="https://yesmovies.to/news/the-30-best-horror-movies-ever-made-part-1-667.html">The 30 Best Horror Movies Ever Made (Part 1)</a>
                                    </h2>
                                    <p class="desc">The list that follows is Cinema Blend’s definitive, once-and-for-all comment on the greatest horror ...</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/09/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                        <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/11-great-horror-movies-with-shocking-twists-666.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/09/thumbnail/0c8382572bdf0f2f0204ac2369abd42d-11-great-horror-movies-with-shocking-twists.jpg" title="11 Great Horror Movies with Shocking Twists"
                                         alt="11 Great Horror Movies with Shocking Twists">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/11-great-horror-movies-with-shocking-twists-666.html"
                                           title="https://yesmovies.to/news/11-great-horror-movies-with-shocking-twists-666.html">11 Great Horror Movies with Shocking Twists</a>
                                    </h2>
                                    <p class="desc">We're still not sure we're over them.</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/09/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                        <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/top-12-horror-movies-of-the-21st-century-665.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/08/thumbnail/6b402c060520ae7cb8e13f89ffc78dd7-top-12-horror-movies-of-the-21st-century.jpg" title="Top 12 Horror Movies of the 21st Century"
                                         alt="Top 12 Horror Movies of the 21st Century">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/top-12-horror-movies-of-the-21st-century-665.html"
                                           title="https://yesmovies.to/news/top-12-horror-movies-of-the-21st-century-665.html">Top 12 Horror Movies of the 21st Century</a>
                                    </h2>
                                    <p class="desc">This century has been only 17 year old but already offered a good deal of great horror movies!</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/08/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                        <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/10-great-outer-space-horror-movies-you-should-check-664.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/07/thumbnail/64e3f8e207b774e4c444224e6039ff42-10-great-outer-space-horror-movies-you-should-check.jpg" title="10 Great Outer Space Horror Movies You Should Check"
                                         alt="10 Great Outer Space Horror Movies You Should Check">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/10-great-outer-space-horror-movies-you-should-check-664.html"
                                           title="https://yesmovies.to/news/10-great-outer-space-horror-movies-you-should-check-664.html">10 Great Outer Space Horror Movies You Should Check</a>
                                    </h2>
                                    <p class="desc">if you are a fan of both sci-fi and horror movies.</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/07/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                        <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/the-14-most-controversial-movies-ever-made-663.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/06/thumbnail/f5ac763e01287ada6ae7d7e71a4169af-the-14-most-controversial-movies-ever-made.jpg" title="The 14 Most Controversial Movies Ever Made"
                                         alt="The 14 Most Controversial Movies Ever Made">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/the-14-most-controversial-movies-ever-made-663.html"
                                           title="https://yesmovies.to/news/the-14-most-controversial-movies-ever-made-663.html">The 14 Most Controversial Movies Ever Made</a>
                                    </h2>
                                    <p class="desc">How many have you seen, and how offended were you?</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/06/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                        <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/check-out-last-weekends-box-office-report-662.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/05/thumbnail/1bc6f4a4982f141b1ff4402b31716dc8-check-out-last-weekends-box-office-report.jpg" title="Check Out Last Weekend's Box Office Report!"
                                         alt="Check Out Last Weekend's Box Office Report!">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/check-out-last-weekends-box-office-report-662.html"
                                           title="https://yesmovies.to/news/check-out-last-weekends-box-office-report-662.html">Check Out Last Weekend's Box Office Report!</a>
                                    </h2>
                                    <p class="desc">Thor: Ragnarok thundered to one of the year's best box-office debuts with an estimated $121 million domestically.</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/05/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                        <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/5-new-movie-trailers-released-last-week-you-should-check-661.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/04/thumbnail/cd6b4c7a24d7daf2d78c68929c0c8db0-5-new-movie-trailers-released-last-week-you-should-check.jpg" title="5 New Movie Trailers Released Last Week You Should Check!"
                                         alt="5 New Movie Trailers Released Last Week You Should Check!">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/5-new-movie-trailers-released-last-week-you-should-check-661.html"
                                           title="https://yesmovies.to/news/5-new-movie-trailers-released-last-week-you-should-check-661.html">5 New Movie Trailers Released Last Week You Should Check!</a>
                                    </h2>
                                    <p class="desc">The quantity isn't impressive but surely the quality is.</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/04/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                        <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/the-10-best-new-movies-shows-coming-to-netflix-this-month-660.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/04/thumbnail/fa505148d1cffca8f2a4e2b0c9b528c9-the-10-best-new-movies-shows-coming-to-netflix-this-month.jpg" title="The 10 Best New Movies/Shows Coming to Netflix This Month"
                                         alt="The 10 Best New Movies/Shows Coming to Netflix This Month">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/the-10-best-new-movies-shows-coming-to-netflix-this-month-660.html"
                                           title="https://yesmovies.to/news/the-10-best-new-movies-shows-coming-to-netflix-this-month-660.html">The 10 Best New Movies/Shows Coming to Netflix This Month</a>
                                    </h2>
                                    <p class="desc">Netflix has another stellar month of content lined up for November.</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/04/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                        <div class="news-list-item">
                                                                    <a href="https://yesmovies.to/news/suffering-from-post-halloween-blues-these-10-stephen-king-will-help-you-cure-it-659.html" class="thumb">
                                    <img src="https://img.yescdn.ru/2017/11/03/thumbnail/84dc4e2fd4066701e6c27573a591cb65-suffering-from-post-halloween-blues-these-10-stephen-king-will-help-you-cure-it.jpg" title="Suffering from Post-Halloween Blues, These 10 Stephen King Will Help You Cure It!"
                                         alt="Suffering from Post-Halloween Blues, These 10 Stephen King Will Help You Cure It!">
                                </a>
                                <div class="info">
                                    <h2><a href="https://yesmovies.to/news/suffering-from-post-halloween-blues-these-10-stephen-king-will-help-you-cure-it-659.html"
                                           title="https://yesmovies.to/news/suffering-from-post-halloween-blues-these-10-stephen-king-will-help-you-cure-it-659.html">Suffering from Post-Halloween Blues, These 10 Stephen King Will Help You Cure It!</a>
                                    </h2>
                                    <p class="desc">Here are the top 10 Stephen King movies you should watch, to get out of your post-Halloween funk.</p>
                                    <p class="time"><i
                                            class="fa fa-clock-o mr5"></i>Posted 11/03/2017                                        </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                <div class="clearfix"></div>
                </div>
                <div id="pagination" style="margin-top:10px;">
                    <nav>
                        <ul class="pagination"><li class="active"><a href="#">1</a></li><li><a href="https://yesmovies.to/news/page-2.html" data-ci-pagination-page="2">2</a></li><li><a href="https://yesmovies.to/news/page-3.html" data-ci-pagination-page="3">3</a></li><li class="next"><a href="https://yesmovies.to/news/page-2.html" data-ci-pagination-page="2" rel="next">Next &rarr;</a></li><li><a href="https://yesmovies.to/news/page-56.html" data-ci-pagination-page="56">»</a></li></ul>                        </nav>
                </div>
<!--                    <div class="content-kusss" style="text-align: center; margin: 20px 0; padding: 15px;">-->
<!--                        <iframe src="https://creative.wwwpromoter.com/37163?d=728x90" width="728" height="90" style="border: none;" frameborder="0" scrolling="no"></iframe>-->
<!--                    </div>-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
<!--/main -->
<!--footer-->
<footer>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-1 footer-block1"></div>
            <div class="col-sm-2 footer-block footer-block2">
                <p><a title="Action" href="https://yesmovies.to/genre/action.html">Action</a></p>
                <p><a title="Adventure" href="https://yesmovies.to/genre/adventure.html">Adventure</a></p>
                <p><a title="Animation" href="https://yesmovies.to/genre/animation.html">Animation</a></p>
                <p><a title="Biography" href="https://yesmovies.to/genre/biography.html">Biography</a></p>
                <p><a title="Comedy" href="https://yesmovies.to/genre/comedy.html">Comedy</a></p>
                <p><a title="Costume" href="https://yesmovies.to/genre/costume.html">Costume</a></p>
                <p><a title="Crime" href="https://yesmovies.to/genre/crime.html">Crime</a></p>
            </div>
            <div class="col-sm-2 footer-block footer-block3">
                <p><a title="Documentary" href="https://yesmovies.to/genre/documentary.html">Documentary</a></p>
                <p><a title="Drama" href="https://yesmovies.to/genre/drama.html">Drama</a></p>
                <p><a title="Family" href="https://yesmovies.to/genre/family.html">Family</a></p>
                <p><a title="Fantasy" href="https://yesmovies.to/genre/fantasy.html">Fantasy</a></p>
                <p><a title="History" href="https://yesmovies.to/genre/history.html">History</a></p>
                <p><a title="Horror" href="https://yesmovies.to/genre/horror.html">Horror</a></p>
                <p><a title="Kungfu" href="https://yesmovies.to/genre/kungfu.html">Kungfu</a></p>
            </div>
            <div class="col-sm-2 footer-block footer-block4">
                <p><a title="Musical" href="https://yesmovies.to/genre/musical.html">Musical</a></p>
                <p><a title="Mystery" href="https://yesmovies.to/genre/mystery.html">Mystery</a></p>
                <p><a title="Mythological" href="https://yesmovies.to/genre/mythological.html">Mythological</a></p>
                <p><a title="Psychological" href="https://yesmovies.to/genre/psychological.html">Psychological</a>
                </p>
                <p><a title="Romance" href="https://yesmovies.to/genre/romance.html">Romance</a></p>
                <p><a title="Sci-Fi" href="https://yesmovies.to/genre/sci-fi.html">Sci-Fi</a></p>
                <p><a title="Sitcom" href="https://yesmovies.to/genre/sitcom.html">Sitcom</a></p>
            </div>
            <div class="col-sm-2 footer-block footer-block5">
                <p><a title="Sport" href="https://yesmovies.to/genre/sport.html">Sport</a></p>
                <p><a title="Thriller" href="https://yesmovies.to/genre/thriller.html">Thriller</a></p>
                <p><a title="TV-Show" href="https://yesmovies.to/genre/tv-show.html">TV-Show</a></p>
                <p><a title="War" href="https://yesmovies.to/genre/war.html">War</a></p>
                <p><a title="United States" href="https://yesmovies.to/country/united-states.html">United
                        States</a></p>
                <p><a title="Korea" href="https://yesmovies.to/country/korea.html">Korea</a></p>
                <p><a title="Japan" href="https://yesmovies.to/country/japan.html">Japan</a></p>
            </div>
            <div class="col-sm-2 footer-block footer-block6">
                <p><a title="HongKong" href="https://yesmovies.to/country/hongkong.html">HongKong</a></p>
                <p><a title="France" href="https://yesmovies.to/country/france.html">France</a></p>
                <p><a title="Asia" href="https://yesmovies.to/country/asia.html">Asia</a></p>
                <p><a title="Thailand" href="https://yesmovies.to/country/thailand.html">Thailand</a></p>
                <p><a title="United Kingdom" href="https://yesmovies.to/country/united-kingdom.html">United
                        Kingdom</a></p>
                <p><a title="India" href="https://yesmovies.to/country/india.html">India</a></p>
                <p><a title="International"
                      href="https://yesmovies.to/country/international.html">International</a></p>
            </div>
            <div class="col-sm-1 footer-block7"></div>
            <div class="clearfix"></div>
        </div>
        <div id="copyright">
            <p><img alt="yesmovies.to" border="0" src="https://yesmovies.to/assets/images/logo-footer.png"
                    class="mv-ft-logo"></p>
            <p>Copyright &copy; <a href="https://yesmovies.to/" title="yesmovies.to">Yesmovies.to</a>. All Rights
                Reserved</p>
            <p style="font-size: 11px; line-height: 14px;">Disclaimer: This site does not store any files on its
                server. All contents are provided by non-affiliated third parties.</p>
        </div>
        <div id="footer-social">
            <a href="#" class="fs-icon fs-facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="fs-icon fs-twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="fs-icon fs-google"><i class="fa fa-google-plus"></i></a>
        </div>
        <div id="footer-menu">
            <a href="https://yesmovies.to/terms.html" title="Privacy Policy">Terms & Privacy Policy</a>
            <a href="https://yesmovies.to/dmca.html" title="DMCA">DMCA</a>
        </div>
    </div>
    <div class="footer-tl text-center mt5" style="font-size:8px; line-height: 1.1em;">
        <style>.footer-tl a {
                color: #232122;
            }</style>
        <a href="https://gostream.is/" class="mr10" title="123movies">123movies</a>
    </div>
</div>
</footer>
<!--/footer-->
</div>
<div class="clearfix"></div>
<div id="auth-modal">
<!-- Modal -->
<div class="modal fade modal-cuz" id="pop-auth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-tabs">
            <ul id="md-list" class="nav nav-tabs" role="tablist">
                <li class="active"><a id="tab-login" href="#modal-login" role="tab" data-toggle="tab"><i
                            class="icon-perm_identity mr5"></i><strong>Login</strong></a></li>
                <li><a id="tab-register" href="#modal-register" role="tab" data-toggle="tab"><i
                            class="icon-add_circle_outline mr5"></i><strong>Register</strong></a></li>
                <li class="pull-right"><a class="close" data-dismiss="modal" aria-label="Close"><i
                            class="icon-clear"></i></a></li>
            </ul>
        </div>
        <div class="modal-content tab-content">
            <div id="modal-login" class="tab-pane in fade active">
                <div class="modal-body">
                    <!--                        <div class="cuz-login-social">-->
                    <!--                            <p class="desc text-center">Log in with your Facebook account.</p>-->
                    <!--                            <div class="cls-list mt10">-->
                    <!--                                <a href="-->
                    <? //= site_url('user/login_fb?return_url=' . current_url()) ?><!--"-->
                    <!--                                   class="btn btn-block btn-facebook"><i-->
                    <!--                                        class="fa fa-facebook-square mr10"></i>Facebook</a>-->
                    <!--                                <a href="-->
                    <? //= site_url('user/login_gg?return_url=' . current_url()) ?><!--"-->
                    <!--                                   class="btn btn-block btn-google"><i class="fa fa-google-plus-square mr10"></i>Google+</a>-->
                    <!--                                <div class="clearfix"></div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <p class="desc text-center mb10">- Or use your Yesmovies account.</p>-->
                    <form id="login-form" method="post">
                        <div class="block">
                            <input required type="text" class="form-control" name="username" id="username"
                                   placeholder="Username">
                        </div>
                        <div class="block mt10">
                            <input required type="password" class="form-control" name="password" id="password"
                                   placeholder="Password">
                        </div>
                        <div class="alert alert-danger error-message" id="error-message"></div>
                        <div class="block mt20 small">
                            <label><input type="checkbox" class="mr5"> Remember me</label>
                            <div class="pull-right">
                                <a data-toggle="tab" id="open-forgot"
                                   href="#modal-forgot"
                                   title="Forgot password?">Forgot password?</a>
                            </div>
                        </div>
                        <button type="submit" id="login-submit" class="btn btn-block btn-success btn-approve mt10">
                            Login
                        </button>
                        <div style="display: none;" id="login-loading" class="cssload-center">
                            <div class="cssload"><span></span></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    Not a member yet? <a id="toggle-register" title="Join now!"><strong>Join now!</strong></a>
                </div>
            </div>
            <div id="modal-register" class="tab-pane in fade">
                <div class="modal-body">
                    <p class="desc">When becoming members of the site, you could use the full range of functions and
                        enjoy the most exciting films.</p>
                    <form id="register-form" method="post">
                        <div class="block">
                            <input required type="text" class="form-control" name="full_name" id="full_name"
                                   placeholder="Full name">
                        </div>
                        <div id="error-full_name" class="alert alert-danger error-message"></div>
                        <div class="block">
                            <input required type="text" class="form-control" name="username" id="username"
                                   placeholder="Username">
                        </div>
                        <div id="error-username" class="alert alert-danger error-message"></div>
                        <div class="block">
                            <input required type="email" class="form-control" name="email" id="email"
                                   placeholder="Email">
                        </div>
                        <div id="error-email" class="alert alert-danger error-message"></div>
                        <div class="block">
                            <input required type="password" class="form-control" name="password" id="password"
                                   placeholder="Password">
                        </div>
                        <div id="error-password" class="alert alert-danger error-message"></div>
                        <div class="block">
                            <input required type="password" class="form-control" name="confirm_password"
                                   id="confirm_password"
                                   placeholder="Confirm Password">
                        </div>
                        <div id="error-confirm_password" class="alert alert-danger error-message"></div>
                        <button id="register-submit" type="submit"
                                class="btn btn-block btn-success btn-approve mt20">Register
                        </button>
                        <div style="display: none;" id="register-loading" class="cssload-center">
                            <div class="cssload"><span></span></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <a href="javascript:void(0)" id="toggle-login" title="Back to login"><i
                            class="fa fa-chevron-left mr10"></i> Back to login</a>
                </div>
            </div>
            <div id="modal-forgot" class="tab-pane in fade">
                <div class="modal-body">
                    <p class="desc">We will send authorize code to your email. Please fill your email to form
                        below.</p>
                    <form id="forgot-form">
                        <div class="block mt10">
                            <input type="email" class="form-control" name="email" id="Email"
                                   placeholder="Your email">
                        </div>
                        <div style="display: none;" id="forgot-success-message" class="alert alert-success"></div>
                        <div style="display: none;" id="forgot-error-message" class="alert alert-danger"></div>
                        <button id="forgot-submit" type="submit" class="btn btn-block btn-success btn-approve mt20">
                            Submit
                        </button>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <a data-toggle="tab" href="#modal-login" title="Back to login">
                        <i class="fa fa-chevron-left mr10"></i> Back to login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ modal -->


{%endblock%}